*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #edeeed;
    height: 100vh;
    width: 100%;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.logo{
    width: 10%;
}

.logo img{
    width: 80%;
}

h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

main.cards {
    display: flex;
    padding: 30px;
}

main.cards .card_div {
    display: flex;
    flex-direction: row; 
    /* align-content: space-around; */
    /* background-color: #b1c6e4; */

    justify-content: center;
    align-items: center;
    width: 100%;
}

main.cards section.card {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 0rem 1.5rem;
    border-radius: 8px;
    max-width: 256px;
    min-width: 256px;
    margin-left: 32px;
    max-height: 300px;
    min-height: 300px;
    vertical-align: middle;


    box-shadow: 20px 20px 50px -30px #6d6e6d;

}

main.cards section.card a {
    opacity: 100%;
    position: relative;
    text-align: center;
    color: #000000;
    
}

main.cards section.card div {
    display: flex;
    flex-direction: column; 
    align-content: space-around;
    /* background-color: #b1c6e4; */
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    width: 200px;
    height: 300px;
    margin-left: 0px;
}

main.cards section.card span {
    opacity: 100%;
    position: relative;
    text-align: center;
}

main.cards section.card .badge.badge-dark {

    font-size: medium;
}

main.cards section.card.humid {
    background: linear-gradient(to right, #1D6CFA, #c6c9f7);
}
main.cards section.card.dht11 {
    background: linear-gradient(to right, #88AD32, #c6f7c9);
}
main.cards section.card.reserv {
    background: linear-gradient(to right, #B3311B, #F7CDC6);
}


/* main.cards section.card:first-child {
    margin-left: 0px;
} */

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    align-items: center;

}

main.teste {
    /* position: absolute; */
    /* background-color: blue; */
    align-content: center;
    display: flex;
    padding: 30px;
}

main.teste img {
    display: inline-block;
    width: 80%;
    /* opacity: 0.8; */
    /* position: absolute; */
    align-items: center;

}

main.teste section.button {
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    padding: 1rem 4rem;
    border-radius: 8px;

    margin-left: 32px;

    vertical-align: middle;

}

main.teste .card_button {
    display: flex;
    flex-direction: row; 
    /* align-content: space-around; */
    /* background-color: #b1c6e4; */

    justify-content: center;
    align-items: center;
    width: 100%;

}

/* .center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
} */



.button-74 {

    background-color: #caddc2;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    /* display: inline-block; */
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    max-width: 150px;
    min-height: 90px;

}

.button-74:hover {
background-color: #caddc2;
}

.button-74:active {
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}

@media (min-width: 768px) {
.button-74 {
    min-width: 120px;
    padding: 0 25px;

}
}